.menuBarHeight {
    height: var(--menu-primary-height);
    transition: 0.5s;
}

.menuBarHeightThin {
    height: var(--menu-primary-height-thin) !important;
    transition: 0.5s;
}

.subpageTopMargin {
    height: calc(var(--menu-primary-height)*2);
    transition: 0.5s;
}

.subpageUnitHeight {
    height: calc(100vh - var(--menu-primary-height)*2);  
}