.menuBarHeight {
    height: var(--menu-primary-height);
    transition: 0.5s;
}

.menuBarHeightThin {
    height: var(--menu-primary-height-thin) !important;
    background-color: #ffffff;
    transition: 0.5s;
}

.pageMaxWidth {
    max-width: 1920px;
    max-height: 1080px;
}

.subpageTopMargin {
    height: calc(var(--menu-primary-height)*2);
    transition: 0.5s;
}

.subpageUnitHeight {
    height: calc(100vh - var(--menu-primary-height)*2);  
}

.landingPageBlogContainer {
    max-height: calc(100% - 6.25rem);    
}

.blogMenuContainer {
    height: calc(100vh - var(--menu-primary-height)*2);
}

.breadcrumbsHeight {
    height: calc(var(--menu-primary-height)/2)
}

.breadcrumbsMargin {
    margin-top: calc(var(--menu-primary-height)/2 - 1px)
}